.googlemappage {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 80px 80px 0px;
  @media screen and (max-width: 720px) {
    justify-content: center;
    display: block;
    padding: 80px 50px 0px;

  }
}
