.location {
    justify-content: space-between;
    font-size: 1.5vw;
    @media screen and (max-width:720px) {
        justify-content: center;
    }

    .locate-current-position {
        position:relative;
        left:5vw;
        @media screen and (max-width:720px) {
            top:5vw;
        }
    }

    .locate-keyin-position {
        position:relative;
        left:5vw;
        top:3vw;
        @media screen and (max-width:720px) {
            top:8vw;
        }
    }

    .searching-near-place {
        position:relative;
        left:10vw;
        top: 15vw;
        @media screen and (max-width:720px) {
            top:20vw;
        }
    }

    .placelist {
        position: absolute;
        height: 50vw;
        top: 55vw;
        left: 10vw;
        font-size: 1.5vw;
        @media screen and (max-width:720px) {
            position: relative;
            top:20vw;
            left:-5vw;
        }
    }

    .modelspace {
        position: absolute;
        right: 10vw;
        top: 65vw;
        height: 30vw;
        @media screen and (max-width:720px) {
            position: relative;
            left:40vw;
            top:-10vw;
        }
    }
.button {
    font-size: 10px;
    border-radius: 25px;
    background-color: whitesmoke;
    border: 2px solid gray;
    transition-duration: 0.4s
}
.button:hover {
    background-color: gray; /* Green */
    color: whitesmoke;
  }
}
